//___________COLORS____________

$brown: #B7875B;
$yellow: #FFC700;

//___________FONTS____________


@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-SemiBold.eot');
    src: local('Euclid Square SemiBold'), local('../fonts/EuclidSquare-SemiBold'),
        url('../fonts/EuclidSquare-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-SemiBold.woff2') format('woff2'),
        url('../fonts/EuclidSquare-SemiBold.woff') format('woff'),
        url('../fonts/EuclidSquare-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-Medium.eot');
    src: local('Euclid Square Medium'), local('../fonts/EuclidSquare-Medium'),
        url('../fonts/EuclidSquare-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-Medium.woff2') format('woff2'),
        url('../fonts/EuclidSquare-Medium.woff') format('woff'),
        url('../fonts/EuclidSquare-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-Regular.eot');
    src: local('Euclid Square Regular'), local('../fonts/EuclidSquare-Regular'),
        url('../fonts/EuclidSquare-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-Regular.woff2') format('woff2'),
        url('../fonts/EuclidSquare-Regular.woff') format('woff'),
        url('../fonts/EuclidSquare-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-Light.eot');
    src: local('Euclid Square Light'), local('../fonts/EuclidSquare-Light'),
        url('../fonts/EuclidSquare-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidSquare-Light.woff2') format('woff2'),
        url('../fonts/EuclidSquare-Light.woff') format('woff'),
        url('../fonts/EuclidSquare-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


//___________MIXINS____________

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}



@mixin trans {
	transition: .4s all;
}

@mixin btn {
	border: none;
	outline: none;
}

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

@mixin absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin absoluteCenterX {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin absoluteCenterY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//___________COMMOM____________


:root {
	font-size: 20px;
}


ul,li {
	margin: 0;
	padding: 0;
	display: block;
}

a {
	transition: .3s all;
	outline: none;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Euclid Square';
	margin-top: 4rem;
}

strong {
	font-weight: 600;
}

.carousel-arrows {
	display: flex;
	// position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);

	span {
		@include center();
		width: 3.5rem;
		height: 3.5rem;
		border: 1px solid #D9D9D9;
		cursor: pointer;
		@include trans();

		&:hover {
			border-color: $brown;
			position: relative;
			z-index: 2;
		}

		svg {
			width: 2rem;
		}

		&.arrow-right {
			margin-left: -1px;
		}
	}
}

.owl-dots {
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 10;

	.owl-dot {
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 50%;
		background: #D9D9D9 !important;
		margin: 0 0.25rem;
	}

	.active {
		border-radius: .5rem;
		width: 1.8rem;
		background: $brown !important;
	}
}


.section-title {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 2.2rem;
	line-height: 130%;
	text-align: center;
	margin-bottom: 5rem;
	position: relative;

	strong {
		font-weight: 600;
	}

}


.hidden {
  display: none !important;
}


.container {
	width: 100%;
	max-width: 70rem;
}


// ______ Tel Btn _________

.tel-btn {
	position: fixed;
	z-index: 10;
	bottom: 12vh;
	right: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	animation: pulse-yellow 2s infinite;
	box-shadow: 0 0 0 0 rgba(255, 199, 0, .3);
	cursor: pointer;

	svg {
		width: 3rem;
		height: 3rem;
	}
}


@keyframes pulse-yellow {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 199, 0, .3);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 1rem rgba(255, 121, 63, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}

// _________ header _________

.header {
	padding: 1rem 0;
	background: #fff;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);

	&-mobile {
		display: none;
	}

	&_nav{
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-logo{
			a {
				display: block;

				img {
					display: block;
					width: 8.25rem;
				}
			}
		}

		&-menu {
			display: flex;
			align-items: center;

			li {
				margin-right: 2rem;
	
	
				a {
					font-size: 0.9rem;
					color: #808080;
					font-weight: 300;
	
					&:hover {
						color: #000;
					}
				}
			}

			li.header_nav-menu_call{
				margin-right: 0;
				margin-left: 3rem;

				a {
					font-weight: 500;
					color: $brown;
				}
			}
		}

		&-social{
			display: flex;
			li {
				margin-right: 1rem;
	
				&:last-child {
					margin-right: 0;
				}
	
				a {
					@include center();
					width: 2rem;
					height: 2rem;
					border-radius: 50%;
					background: #F3F3F3;
	
					&:hover {
						background: $brown;
	
						svg path {
							fill: #fff;
						}
					}
	
					svg {
						width: 1.2rem;
					}
				}
			}
		}

	}
}

//______ Hero _______


.hero {
	background-image: url('../img/main.jpg');
	height: 40rem;
	background-size: cover;
	display: flex;
	align-items: center;
	color: #fff;

	&_content{

		h1{
			font-weight: 300;
			font-size: 2.8rem;
			line-height: 150%;
			margin-bottom: 3rem;
	
			strong {
				font-weight: 500;
			}
	
		}

	&-list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 3rem;
		li{
			display: flex;
			align-items: center;
			position: relative;
			width: 35%;
			margin-bottom: 1rem;
			font-size: 1.2rem;

			&::before {
				content: '';
				width: 1.75rem;
				height: 1.75rem;
				background: url(../img/check.svg) center center no-repeat;
				background-size: contain;
				margin-right: 0.75rem;
			}
		}
	}

	&-btns {
		display: flex;
		align-items: center;

		a{
			@include btn();
			width: 17rem;
			height: 3.5rem;
			font-weight: 500;
			font-size: 1.1rem;
			background: #000;
			color: #fff;
			border-radius: .5rem;
			@include center();
			
			&:hover {
				background: #fff;
				color: #000;
			}
		}
		
		 a.contact-tel{
				margin-left: 2rem;
				background: $brown;
				color: white;
				height: 3.1rem;
				svg {
					width: 1.25rem;
					margin-right: .5rem;
				}

				&:hover {
					background: #000;
					color: #fff;
				}
		 }
	}
	}


}


//  ____ Choose _____

.choose{
margin-top: 5rem;

&-wrap{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}	


&_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 3rem;

	&-item {
		width: 15rem;
		height: 11.25rem;
		padding: 2rem 2rem 5rem;
		margin-right: 2rem;
		border-radius: 1rem;
		background: #F8F8F8;
		position: relative;
		@include trans();
		overflow: hidden;

		&:nth-child(4n) {
			margin-right: 0;
		}

		&:hover {
			box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 20px 13px rgba(0, 0, 0, 0.035), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);

			.choose_content-item_icon {
				background: #000;
			}
		}


		&__title{
			font-size: 1.1rem;
			font-weight: 600;
			margin-bottom: 1rem;
		}

		&__text{
			line-height: 150%;
			font-weight: 300;
		}

		&_icon{
			border-radius: 1rem 0;
			padding: .85rem 1rem;
			@include trans();
			background: $brown;
			position: absolute;
			right: 0;
			bottom: 0;
			@include center();

			img {
				width: 2rem;
			}
		}
	}
}


}


// ____ Products _____

.products{
	margin-top: 5.8rem;
	background: #F8F8F8;
	border-radius: 5rem;
	padding: 7.5rem 0 9rem;


	&-title{
		margin-bottom: 4rem;
	}

	&-content{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 3rem;
		gap: 2rem;

		&_item {
			width: 15rem;
			height: 18.05rem;
			border-radius: 1rem 1rem 3rem 1rem;
			overflow: hidden;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 2rem 1.5rem;
			color: #fff;
			@include trans();


			&__name {
			width: 100%;
			z-index: 1000;
			font-size: 0.9rem;
			font-weight: 500;
			}

			&__btn{
				display:none;
				position: relative;
				z-index: 1000;
				font-weight: 500;
				font-size: 0.75rem;
				color: #000;
				background: $yellow;
				margin-top: 1.5rem;
				width: 6.5rem;
				height: 1.75rem;
				border-radius: .25rem;	

	
				&:hover {
					background: #000;
					color: #fff;
				}
			}
			
			&::after {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				content: '';
				background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 3.79%, rgba(3, 3, 3, 0.3) 38.14%, rgba(0, 0, 0, 0) 68.97%);
			}
			&:hover .products-content_item__btn{
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&:hover {
				box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 20px 13px rgba(0, 0, 0, 0.035), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
	
				
				&::after {
					background: linear-gradient(360deg, #B7875B 3.79%, rgba(167, 96, 57, 0.5) 38.14%, rgba(183, 135, 91, 0) 68.97%);
				}
			}

			&:nth-child(3n) {
				margin-right: 0;
			}



			&__img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 0;

			img{
			  width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				}
			}
		}

		&_item-big {
			width: 49%;
		}
	}

}


//______ Guarants ______


.guarants {
	margin: -9rem 0 7.5rem;


	&_wrapp{
		border-radius: 2.5rem;
		box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 20px 13px rgba(0, 0, 0, 0.035), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
		background: url('../img/guarant-bg.png') center center no-repeat;
		background-size: cover;
		padding: 3.5rem 5rem;
		display: flex;
		justify-content: space-between;
	}

	&-left{
		width: 40%;

		h2{
			font-size: 1.9rem;
			font-weight: 300;
			margin-bottom: 1.5rem;


			strong {
				font-weight: 600;
			}
		}

		button {
			@include btn();
			@include center();
			@include trans();
			font-weight: 500;
			font-size: 1.1rem;
			background: #000;
			color: #fff;
			width: 11.5rem;
			height: 3.5rem;
			border-radius: .5rem;

			&:hover {
				color: #000;
				background: $yellow;
			}
		}
	}

	&-right {
		width: 55%;

		p{
			font-size: 1rem;
			margin-bottom: 1rem;
			font-weight: 400;
			line-height: 150%;
		}
		&-img {
			img {
				width: 90%;
				object-fit: cover;
			}
		}
	}

}

//_____ Projects _____

.projects {
	&-header{
		display: flex;
		display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	h2{
		margin-top: 1rem;
		margin-left: 8rem;

	}
	}

	&-content{

		.owl-stage-outer {
			padding-bottom: 10rem;
		}

		.owl-dot {
			margin-top: -7rem;
		}
		
		&_item {
			height: 20rem;
			position: relative;
			border-radius: 1rem;
			overflow: hidden;
			color: #fff;
			padding: 2rem;
			@include trans();

			&:hover {
				box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 20px 13px rgba(0, 0, 0, 0.035), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
	
				.projects-content_item__btn {
					background: $yellow;
	
					&:hover {
						background: #000;
					}
				}
			}

			&__img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
			}
			}

			&__header{
			position: relative;
			z-index: 2;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-bottom: 1.5rem;

			&-location {
				font-size: 0.7rem;
				background: rgba(0, 0, 0, 0.2);
				backdrop-filter: blur(10px);
				border-radius: .25rem;
				padding: 0.3rem 0.5rem;
				@include center();
			}

			&-zoom {
				cursor: pointer;
			width: 2.5rem;
			height: 2.5rem;
			@include trans();
			background: rgba(0, 0, 0, 0.2);
			backdrop-filter: blur(10px);
			border-radius: .25rem;
			@include center();

			&:hover {
				background: $brown;
			}

			img {
				width: 1.75rem !important;
			}
			}
			}

			&__name {
			font-weight: 600;
			font-size: 1.2rem;
			position: relative;
			z-index: 2;
			margin-bottom: 1.5rem;
			}

			&__list {
			position: relative;
			z-index: 2;
			font-size: 0.9rem;

			li {
				display: flex;
				margin-bottom: 0.8rem;

				&:last-of-type {
					margin-bottom: 0;
				}

				span:first-of-type {
					font-weight: 300;
					color: #D2D2D2;
					width: 6rem;
					margin-right: 1rem;
				}

				span:last-of-type {
					font-weight: 500;
				}
			}
			}

			&__btn {
			position: absolute;
			z-index: 2;
			right: 2rem;
			bottom: 2rem;
			width: 9rem;
			height: 2.5rem;
			font-size: 0.9rem;
			font-weight: 500;
			color: #fff;
			background: $brown;
			border-radius: .5rem;
			@include center();
			@include btn();
			@include trans();
			&:hover {
				background: #000;
			}
			}
		}
	}
}
//_____ Reviews _____

.reviews{
	margin: 7.5rem 0rem;
	width: 100%;


&_header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	h2{
		margin-top: 1rem;
		margin-left: 8rem;

	}

}

	&-carousel .owl-dots {
		margin-top: 3rem;
	}

	&-content {

		&_item {
			display: flex;
			align-items: stretch;
			height: 22.5rem;
			border-radius: 1.5rem;
			overflow: hidden;

			&-left{
			width: 50%;
			padding: 3rem 2.5rem;
			border: 1px solid #D9D9D9;
			border-radius: 1.5rem 0 0 1.5rem;

			&__wrap, &__head {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			&__head {
				margin-bottom: 2.5rem;
			}

			&__photo {
				width: 3.5rem;
				height: 3.5rem;
				flex-shrink: 0;
				margin-right: 1rem;
	
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 50%;
				}
			}
			&__name {
				font-size: 1.2rem;
				font-weight: 600;
				margin-bottom: 0.15rem;
			}
	
			&__from {
				color: #A1A1A1;
				font-size: 0.8rem;
			}
	
			&__mark {
				svg {
					width: 6rem;
					height: 1rem;
				}
			}
	
			&__text {
				line-height: 150%;
			}
	
			&__img {
				width: 50%;
	
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			

			}
		}
	}

}

//_____ Partners _____

.partners {
	border-radius: 5rem 5rem 0 0;
	overflow: hidden;
	background: url(../img/partners-bg.jpg) center center no-repeat;
	background-size: cover;
	padding: 5rem 0;

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 3.5rem;

		strong {
			margin-left: .5rem;
		}

		span {
			border: .1rem solid #DFDFDF;
			@include center();
			padding: .4rem .6rem;
			background: #f00;
			border-radius: 1.25rem;
			font-size: 0.8rem;
			line-height: 0.8rem;
			color: #fff;
			font-weight: 600;
			margin-left: 1rem;
		}
	}

	&-wrap {
		display: flex;
		justify-content: center;
	}

	&-item {
		width: 10rem;
		height: 10rem;
		background: #FFFFFF;
		box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1);
		border-radius: 1rem;
		@include trans();
		@include center();
		border: .25rem solid transparent;
		margin-right: 2rem;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			border-color: $brown;
		}

		img {
			max-width: 90%;
			max-height: 90%;
			object-fit: contain;
		}
	}
}

// ____ footer ____
.footer {
	&-map {
		height: 35rem;
		position: relative;

		#map {
			width: 100%;
			height: 100%;
		}
	}

	&-contact {
		@include absoluteCenterY();
		left: 20vw;
		padding: 2.5rem 2rem;
		background: rgba(44, 44, 44, 0.9);
		backdrop-filter: blur(10px);
		z-index: 5;
		border-radius: 1rem;
		width: 22rem;

		&__title {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1.6rem;
			margin-bottom: 1rem;
			color: #fff;
		}

		&__list {
			li {
				margin-bottom: 1rem;

				a,div {
					display: flex;
					color: #fff;
					font-weight: 500;
					font-size: 0.9rem;
					align-items: flex-start;

					img {
						width: 1.25rem;
						flex-shrink: 0;
						margin-right: .75rem;
					}
				}

				a:hover {
					color: $brown;
				}
			}
		}
	}

	&-bot {
		box-shadow: 0px 0px 50px rgba(0, 117, 255, 0.1);
		padding: 1rem 0;

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__logo {
		width: 20.3rem;

		a {
			display: inline-block;

			img {
				display: block;
				width: 10.5rem;
			}
		}
	}

	&-copy {
		color: #4f4f4f;
		font-size: 0.8rem;
	}

	&-icons {
		display: flex;
		align-items: center;

		li {
			margin-right: 1.5rem;
			display: flex;
			align-items: center;

			img {
				display: block;
			}

			&.footer-top {
				margin-right: 0;
				margin-left: 3rem;
				@include center();
				cursor: pointer;
				width: 2rem;
				height: 2rem;
				background: $brown;
				border-radius: 50%;
				box-shadow: 0px 15px 20px rgba(183, 135, 91, 0.25);
				
				svg {
					width: 1.5rem;
				}
			}
		}
	}
}

//_____________MEDIA QUERY__________



@media (max-width: 1700.98px) {

	:root {
		font-size: 19px;
	}

}

@media (max-width: 1550.98px) {

	:root {
		font-size: 18px;
	}

}



@media (max-width: 1400.98px) {

	:root {
		font-size: 17px;
	}

}


@media (max-width: 1200.98px) {

	:root {
		font-size: 15px;
	}


	// style


}

@media (max-width: 992.98px) {

	:root {
		font-size: 13px;
	}
}


@media (max-width: 767.98px), (max-width: 1080px) and (orientation: portrait) {
	:root {
		font-size: 18px;
	}
// style

}


@media (max-width: 767.98px) {
	:root {
		font-size: 16px;
	}
  //  style
}


@media (max-width: 343.98px) {
	:root {
		font-size: 12px;
	}
}


@media (max-width: 300.98px) {
	:root {
		font-size: 10px;
	}
}